{#GestionASM17/templates/GestionASM17/accueil.html.twig #}
{% extends 'base.html.twig' %}
{% block body%}
{# Div1 qui contient l'ensemble de la page #}
<div>
<h3>Physionomie de l'association :</h3>
{# Div2 qui contient les deux tableaux : membres/donateurs et recettes/depenses #}
  <div class="row">
{# Div3 qui contient les deux tableaux : membres/donateurs et recettes/depenses pour le respponsive design  #}
    <div class=" col-lg-5 col-sm-5">
{# Div4 qui contient le tableau membres/donateurs #}
      <table class="table table-bordered table-striped ">
        <tbody>
          <thead class="thead-dark">
            <tr >
              <th  style="text-align:center;">MEMBRES</th>
              <th  style="text-align:center;">DONATEURS</th>
            </tr>
          </thead>
          <tr>
            <td style="text-align:center;">
              <button type="button" class="btn-lg btn-basic btn-block">
                Nombre de Membres :
                <span class="badge badge-light">{{NbreMembre}}</span>
              </button>
            </td>
            <td colspan="2" style="text-align:center;">
              <button type="button" class="btn-lg btn-basic btn-block">
                Nombre de Donateurs :
                <span class="badge badge-light">{{NbreDonateur}}</span>
              </button>
            </td>
              </tr>
          <tr>
            <td style="text-align:center;">
              <button type="button" class="btn-lg btn-success btn-block">
              A jour de Cotisation :
              <span class="badge badge-light">{{NbreMembreOkCoti}}</span>
              </button>
            </td>
          </tr>
          <tr>
            <td style="text-align:center;">
              <button type="button" class="btn-lg btn-danger btn-block">
                Non à Jour de Cotisation :
                <span class="badge badge-light">{{NbreMembreNokCoti}}</span>
              </button>
            </td>
          </tr>
        </tbody>        
      </table>
    </div>{# Fin DIV4 #}
{# Tableau récupérant les Recettes et les Dépenses depuis la base de données #}
{# DIV5 qui contient le tableau recettes/depenses #}
  <div class="col-lg-6 col-sm-6 offset-lg-1 offset-sm-1">
    <table class="table table-bordered table-striped ">
      <tbody>
        <thead class="thead-dark">
          <tr >
            <th colspan="4" style="text-align:center;">RECETTES</th>
            <th style="text-align:center;">DEPENSES</th>
          </tr>
        </thead>
          <tr>
            <td colspan="4">
              <button type="button" class="btn-lg btn-basic btn-block">
                Total des Recettes :
                <span class="badge badge-light">{{TotalRecette}}</span>
              </button>
            </td>
            <td>
              <button type="button" class="btn-lg btn-basic btn-block">
                Total des Dépenses :
                <span class="badge badge-light">{{TotalDepense}}</span>
              </button>
            </td>
          </tr>
          <tr>
            <td style="text-align:center;">Cotisations</td>
            <td style="text-align:center;">Dons</td>
            <td style="text-align:center;">Recettes</td>
            <td style="text-align:center;">Subventions</td>
          </tr>
            <tr>
              <td>
                <button type="button" class="btn-lg btn-basic btn-block">
                  {# Total : #}
                  <span class="badge badge-light">{{SommeDesCoti}}</span>
                </button>
              </td>
              <td>
                <button type="button" class="btn-lg btn-basic btn-block">
                  {# Total : #}
                  <span class="badge badge-light">{{SommeDesDon}}</span>
                </button>
              </td>
              <td>
                <button type="button" class="btn-lg btn-basic btn-block">
                  {# Total : #}
                  <span class="badge badge-light">{{SommeDesRecette}}</span>
                </button>
              </td>
              <td>
                <button type="button" class="btn-lg btn-basic btn-block">
                  {# Total : #}
                  <span class="badge badge-light">{{SommeDesSubvention}}</span>
                </button>
              </td>
            </tr>
        </tbody>        
      </table>
  </div> {# Fin DIV5 #}
  </div> {# Fin DIV3 #}
</div> {# Fin DIV2 #}

<br>
<br>
{# Partie contenant les anniverssaires à venir #}
{# DIV6 qui contient le tableau des anniverssaires à venir #}
<div>
  <h3>Anniversaires à venir :</h3>
  {# {% for smith in ListeSmith %}
  {% for membre in ListeMembre %}
     #}
 
         
    <table class="table table-bordered table-striped ">
      <tbody>
        <thead class="thead-dark">
          <tr>
            <th style="text-align:center;">COTI.</th>
            <th style="text-align:center;">DATE DE NAISSANCE</th>
            <th style="text-align:center;">AGE</th>
            <th style="text-align:center;">PRENOM ET NOM</th>
            <th style="text-align:center;">ADRESSE</th>
            <th style="text-align:center;">CP</th>
            <th style="text-align:center;">VILLE</th>
          </tr>
        </thead>
                   
            <tr>
              <td>
                <button type="button" class="btn-lg btn-success btn-block"></button>
              </td>
              <td style="text-align:center;">{#{{smith.dateNaissanceSmith|date('d/m/Y')}} #} Date</td>
              <td style="text-align:center;">	{#{{ ('now'|date('Y') - smith.dateNaissanceSmith|date('Y') - 1) + ('now'|date('2010-m-d')|date('U') - smith.dateNaissanceSmith|date('2010-m-d')|date('U') >= 0 ? 1 : 0) }}#} ANS</td>
              <td style="text-align:center;">{#{{smith.prenomSmith}}#} Nom associé</td>
              <td style="text-align:center;">34 RUE BOIZARD</td>
              <td style="text-align:center;">37700</td>
              <td style="text-align:center;">SAINT PIERRE DES CORPS</td>  
            </tr>
         
        {# {% endfor %}
        {% endfor %} #}


          {# <tr>
            <td>
              <button type="button" class="btn-lg btn-success btn-block"></button>
            </td>
            <td style="text-align:center;">31/12/2004</td>
            <td style="text-align:center;">13 ANS</td>
            <td style="text-align:center;">Antoine GOUTOULLI</td>
            <td style="text-align:center;">34 RUE BOIZARD</td>
            <td style="text-align:center;">37700</td>
            <td style="text-align:center;">SAINT PIERRE DES CORPS</td>
          </tr>
          <tr>
            <td>
              <button type="button" class="btn-lg btn-success btn-block"></button>
            </td>
            <td style="text-align:center;">31/12/2004</td>
            <td style="text-align:center;">13 ANS</td>
            <td style="text-align:center;">Antoine GOUTOULLI</td>
            <td style="text-align:center;">34 RUE BOIZARD</td>
            <td style="text-align:center;">37700</td>
            <td style="text-align:center;">SAINT PIERRE DES CORPS</td>
          </tr>
          <tr>
            <td>
              <button type="button" class="btn-lg btn-danger btn-block"></button>
            </td>
            <td style="text-align:center;">31/12/2004</td>
            <td style="text-align:center;">13 ANS</td>
            <td style="text-align:center;">Antoine GOUTOULLI</td>
            <td style="text-align:center;">34 RUE BOIZARD</td>
            <td style="text-align:center;">37700</td>
            <td style="text-align:center;">SAINT PIERRE DES CORPS</td>
          </tr>
          <tr>
            <td>
              <button type="button" class="btn-lg btn-danger btn-block"></button>
            </td>
            <td style="text-align:center;">31/12/2004</td>
            <td style="text-align:center;">13 ANS</td>
            <td style="text-align:center;">Antoine GOUTOULLI</td>
            <td style="text-align:center;">34 RUE BOIZARD</td>
            <td style="text-align:center;">37700</td>
            <td style="text-align:center;">SAINT PIERRE DES CORPS</td>
          </tr>
          <tr>
            <td>
              <button type="button" class="btn-lg btn-danger btn-block"></button>
            </td>
            <td style="text-align:center;">31/12/2004</td>
            <td style="text-align:center;">13 ANS</td>
            <td style="text-align:center;">Antoine GOUTOULLI</td>
            <td style="text-align:center;">34 RUE BOIZARD</td>
            <td style="text-align:center;">37700</td>
            <td style="text-align:center;">SAINT PIERRE DES CORPS</td>
          </tr> #}
      </tbody>        
    </table>
  <br>
</div> {# Fin DIV6 #}
</div> {# Fin DIV1 #}
             
{% endblock %}
          
