{#GestionASM17/templates/GestionASM17/accueil.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}{{parent()}}-Accueil{% endblock %}
{% block body%}
{# Div1 qui contient l'ensemble de la page #}
<div class="table-responsive">
<h3>Physionomie de l'association :</h3>
{# Div2 qui contient les deux tableaux : membres/donateurs et recettes/depenses #}
  <div class="row">
{# Div3 qui contient les deux tableaux : membres/donateurs et recettes/depenses pour le respponsive design  #}
    <div class=" col-lg-5 col-sm-5">
{# Div4 qui contient le tableau membres/donateurs #}
      <table class="table table-bordered table-striped">
        <tbody> 
          <thead class="thead-dark">
            <tr >
              <th  style="text-align:center;">MEMBRES</th>
              <th  style="text-align:center;">DONATEURS</th>
            </tr>
          </thead>
          <tr>
            <td style="text-align:center;">
              <button type="button" class="btn-lg btn-basic btn-block">
                Total :
                <span class="badge badge-light">{{nbreMembre}}</span>
              </button>
            </td>
            <td colspan="2" style="text-align:center;">
              {% for donateur in nbreDonateur %}
                 <button type="button" class="btn-lg btn-basic btn-block">
                    Total :
                     <span class="badge badge-light">{{donateur.ajour}}</span>
                   </button>             
              {% endfor %}
            </td>
              </tr>
          <tr>
          {% for coti in nbreMembreOkCoti %}         
            <td style="text-align:center;">
              <button type="button" class="btn-lg btn-success btn-block">
              A jour  :
              <span class="badge badge-light">{{coti.ajour}}</span>
              </button>
            </td>
             {% endfor %}
          </tr>
          <tr>
          {% for coti in nbreMembreNokCoti  %}
            <td style="text-align:center;">
              <button type="button" class="btn-lg btn-danger btn-block">
                Non à Jour :
                <span class="badge badge-light">{{coti.nonAjour}}</span>
              </button>
            </td>
           {% endfor %}
          </tr>
        </tbody>        
      </table>
    </div>{# Fin DIV4 #}
{# Tableau récupérant les Recettes et les Dépenses depuis la base de données #}
{# DIV5 qui contient le tableau recettes/depenses #}
  <div class="col-lg-6 col-sm-6 offset-lg-1 offset-sm-1">
    <table class="table table-bordered table-striped">
      <tbody>
        <thead class="thead-dark">
          <tr >
            <th colspan="4" style="text-align:center;">RECETTES</th>
            <th style="text-align:center;">DEPENSES</th>
          </tr>
        </thead>
          <tr>
            <td colspan="4">      
              <button type="button" class="btn-lg btn-basic btn-block">
                Total :
                <span class="badge badge-light">
                {% for sommeDesRecettes in totalRecette %} 
                  {% if totalRecette|length <1 %}
                  0 €
                  {% else %}
                    {{sommeDesRecettes.resultat}} €
                  {% endif %} 
                     {% endfor %}
            </td>
                </span>                         
              </button>
            <td>
              <button type="button" class="btn-lg btn-basic btn-block">
                Total :
                <span class="badge badge-light">
                {% for sommeDesDepenses in totalDepense %} 
                  {% if totalRecette|length <1 %}
                  0 €
                  {% else %}
                    {{sommeDesDepenses.resultat}} €
                  {% endif %} 
                     {% endfor %}
                </span>
              </button>
            </td>
          </tr>
          <tr>
            <td style="text-align:center;">Cotisations</td>
            <td style="text-align:center;">Dons</td>
            <td style="text-align:center;">Recettes</td>
            <td style="text-align:center;">Subventions</td>
          </tr>
            <tr>
            {% for typeRecette in sommeParTypeDeRecette %}            
              <td>             
                <button type="button" class="btn-lg btn-basic btn-block">
                  <span class="badge badge-light">{{typeRecette.resultat}} €</span>
                </button>
              </td>
            {% endfor %}
            </tr>
        </tbody>        
      </table>
  </div> {# Fin DIV5 #}
  </div> {# Fin DIV3 #}
</div> {# Fin DIV2 #}
<br>
<br>

  <!-- Création des 4 onglets -->
  <ul class="nav nav-tabs">
    <li class="nav-item ">
      <a class="nav-link active" data-toggle="tab" href="#AnnivAVenir"><h5>Anniverssaires futures</h5></a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" data-toggle="tab" href="#derniersMembres"><h5>Derniers Memrbes Enregistrés</h5></a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" data-toggle="tab" href="#dernieresRecettes"><h5>Dernières Recettes {#{{ExComptableEnCours.exerciceEnCours}}#}</h5></a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" data-toggle="tab" href="#dernieresDepenses"><h5>Dernières Dépenses</h5></a>
    </li>
  </ul>

<!-- Création du contenu des onglets -->
  <div class="tab-content">
{# Onglet Anniverssaires à venir #}
    <div id="AnnivAVenir" class="container tab-pane active"><br>
      {# DIV6 qui contient le tableau des anniverssaires à venir #}
      <div clas="table-responsive">
        <h3>Anniversaires à venir :</h3>
        {# {{form_start(AnnivEnvoyeForm)}}  #}
          <table class="table table-bordered table-striped table-hover">
            <tbody>
              <thead class="thead-dark">
                <tr>
                  <th style="text-align:center;">COTISATION</th>
                  <th style="text-align:center;">DATE DE NAISSANCE</th>
                  <th style="text-align:center;">AGE</th>
                  <th style="text-align:center;">PRENOM ET NOM</th>
                  <th style="text-align:center;">ADRESSE</th>
                  <th style="text-align:center;">CP</th>
                  <th style="text-align:center;">VILLE</th>
                  {# <th style="text-align:center;">ENVOYE</th> #}
                </tr>
              </thead>
              {% for smith in listeMembreTableauAnnivSmith %}                
                  <tr>
                {% if smith.coti_ok %}
                    <td align="center">
                      <button type="button" class="btn-lg btn-success"></button>
                    </td>
                    {% else %}
                    <td align="center">
                      <button type="button" class="btn-lg btn-danger"></button>
                    </td>
                {% endif %}
                    <td style="text-align:center;vertical-align:middle;">{{smith.date_naissance_smith|date('d/m/Y')}}</td>
                    <td style="text-align:center;vertical-align:middle;">	{{ ('now'|date('Y') - smith.date_naissance_smith|date('Y') - 1) + ('now'|date('2010-m-d')|date('U') - smith.date_naissance_smith|date('2010-m-d')|date('U') >= 0 ? 1 : 0) }} ANS</td>
                    <td style="text-align:center;vertical-align:middle;">{{smith.prenom_smith}} {{smith.nom_membre|upper}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{smith.ligne_adr2}}<br>{{smith.ligne_adr3}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{smith.code_postal}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{smith.ville}}</td> 
                    {# <td style="text-align:center;vertical-align:middle;">{{form_widget(AnnivEnvoyeForm)}}</td>  #}
                  </tr> 
              {% endfor %}
            </tbody>        
          </table>
          {# {{form_end(AnnivEnvoyeForm)}} #}
          <br>
        </div>
      </div> {# Fin DIV6 #}

{# Onglet Dernièrs Membres #}
    <div id="derniersMembres" class="container tab-pane fade"><br>
      {# DIV10 qui contient les dernières recettes #}
      <div clas="table-responsive">

          <table class="table table-bordered table-striped table-hover">
            <tbody>
              <thead class="thead-dark">
                <tr>
                  <th style="text-align:center;vertical-align:middle;">NOM</th>
                  <th style="text-align:center;vertical-align:middle">PRENOM</th>
                  <th style="text-align:center;vertical-align:middle">ADRESSE</th>
                  <th style="text-align:center;vertical-align:middle">CP</th>
                  <th style="text-align:center;vertical-align:middle">VILLE</th>
                  <th style="text-align:center;vertical-align:middle">MAIL</th>
                  <th style="text-align:center;vertical-align:middle">MODIFIE  LE</th>
                  

                </tr>
              </thead>
              {% for membre in derniersMembres %}                
                  <tr>
                    <td style="vertical-align:middle;">{{membre.nomMembre}}</td>
                    <td style="vertical-align:middle;">{{membre.prenomMembre}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{membre.coordonnees.ligneAdr2}}<br>{{membre.coordonnees.ligneAdr3}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{membre.coordonnees.codePostal}}</td>
                    <td style="vertical-align:middle;">{{membre.coordonnees.ville}}</td>
                    <td style="vertical-align:middle;">{{membre.coordonnees.email1}}</td>
                    <td style="vertical-align:middle;">{{membre.dateModif|date("m/d/Y")}}</td>
                  </tr> 
              {% endfor %}
            </tbody>        
          </table>
        <br>
      </div> {# Fin DIV10 #}
    </div> {# Div dernieresRecettes #}

{# Onglet Dernières Recettes #}
    <div id="dernieresRecettes" class="container tab-pane fade"><br>
      {# DIV8 qui contient les dernières recettes #}
      <div clas="table-responsive">
          <table class="table table-bordered table-striped table-hover">
            <tbody>
              <thead class="thead-dark">
                <tr>
                  <th style="text-align:center;vertical-align:middle">DATE</th>
                  <th style="text-align:center;vertical-align:middle">TYPE</th>
                  <th style="text-align:center;vertical-align:middle">DESCRIPTION</th>
                  <th style="text-align:center;vertical-align:middle">MONTANT</th>
                </tr>
              </thead>
              {% for recette in dernieresRecettes %}                
                  <tr>
                    <td style="text-align:center;vertical-align:middle;">{{recette.datePaiementRecette|date('d/m/Y')}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{recette.typeRecette.typeDeRecette }}</td>
                    <td style="text-align:center;vertical-align:middle;">{{recette.descriptionRecette}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{recette.montantRecette}} €</td>
                  </tr> 
              {% endfor %}
            </tbody>        
          </table>
        <br>
      </div> {# Fin DIV8 #}
    </div> {# Div dernieresRecettes #}

      {# Onglet Dernières Dépenses #}
    <div id="dernieresDepenses" class="container tab-pane fade"><br>
      {# DIV9 qui contient les dernières dépenses #}
      <div clas="table-responsive">
          <table class="table table-bordered table-striped table-hover">
            <tbody>
              <thead class="thead-dark">
                <tr>
                  <th style="text-align:center;vertical-align:middle">DATE</th>
                  <th style="text-align:center;vertical-align:middle">DEBITEUR</th>
                  <th style="text-align:center;vertical-align:middle">DESCRIPTION</th>
                  <th style="text-align:center;vertical-align:middle">MONTANT</th>
                </tr>
              </thead>
              {% for depense in dernieresDepenses %}                
                  <tr>
                    <td style="text-align:center;vertical-align:middle;">{{depense.dateDepense|date('d/m/Y')}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{depense.debiteur}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{depense.description}}</td>
                    <td style="text-align:center;vertical-align:middle;">{{depense.montantDepense}} €</td>
                  </tr> 
              {% endfor %}
            </tbody>        
          </table>
        <br>
      </div> {# Fin DIV9 #}
    </div> {# Div dernieresDepenses#}
  </div> {#div tb-content#}







{# Partie contenant les anniverssaires à venir #}
{# DIV6 qui contient le tableau des anniverssaires à venir #}
{# <div clas="table-responsive">
  <h3>Anniversaires à venir :</h3>
  {{form_start(AnnivEnvoyeForm)}} 
     <table class="table table-bordered table-striped table-hover">
      <tbody>
        <thead class="thead-dark">
          <tr>
            <th style="text-align:center;">COTISATION</th>
            <th style="text-align:center;">DATE DE NAISSANCE</th>
            <th style="text-align:center;">AGE</th>
            <th style="text-align:center;">PRENOM ET NOM</th>
            <th style="text-align:center;">ADRESSE</th>
            <th style="text-align:center;">CP</th>
            <th style="text-align:center;">VILLE</th>
            <th style="text-align:center;">ENVOYE</th>
          </tr>
        </thead>
         {% for smith in listeMembreTableauAnnivSmith %}                
            <tr>
          {% if smith.coti_ok %}
              <td align="center">
                <button type="button" class="btn-lg btn-success"></button>
              </td>
              {% else %}
              <td align="center">
                <button type="button" class="btn-lg btn-danger"></button>
              </td>
          {% endif %}
              <td style="text-align:center;vertical-align:middle;">{{smith.date_naissance_smith|date('d/m/Y')}}</td>
              <td style="text-align:center;vertical-align:middle;">	{{ ('now'|date('Y') - smith.date_naissance_smith|date('Y') - 1) + ('now'|date('2010-m-d')|date('U') - smith.date_naissance_smith|date('2010-m-d')|date('U') >= 0 ? 1 : 0) }} ANS</td>
              <td style="text-align:center;vertical-align:middle;">{{smith.prenom_smith}} {{smith.nom_membre|upper}}</td>
              <td style="text-align:center;vertical-align:middle;">{{smith.ligne_adr2}}<br>{{smith.ligne_adr3}}</td>
              <td style="text-align:center;vertical-align:middle;">{{smith.code_postal}}</td>
              <td style="text-align:center;vertical-align:middle;">{{smith.ville}}</td> 
              <td style="text-align:center;vertical-align:middle;">{{form_widget(AnnivEnvoyeForm)}}</td> 
            </tr> 
        {% endfor %}
      </tbody>        
    </table>
    {{form_end(AnnivEnvoyeForm)}}
  <br>
  </div> Fin DIV6 #}
</div> {# Fin DIV1 #}
             
{% endblock %}
          
