{# GestionASM17/templates/GestionASM17/AjouterNouveauMembre.html/twig #}

{% extends 'base.html.twig' %}
{% block title %}{{parent()}}-AjouterNouveauMembre{% endblock %}
{% block body %}
{% form_theme formAjouterRecette   'bootstrap_4_layout.html.twig' %}
<div style="background-color : #f2fdff">
    {{ form_start(formAjouterRecette  ) }}
    <div class="container-fluid">
      <div class="row">
        <table class="table table-borderless ccol-lg-12">
          <tbody>
            <tr>
              <td style="padding-top:16px;text-align:center">
                <h3>Ajouter un Nouveau Membre</h3>
                {% set dateCreation = 'now'|date("d/m/Y") %}
                {# <h6><i>{{ form_row(formAjouterRecette.adherent.dateCreation|date("d/m/Y"), {'label':"Date de Création :"}, { 'attr': { 'value':dateCreation } }) }}</i></h6>               #}
              </td>
              <!-- <td>
                <button type="submit" class="btn-dark" >ENREGISTRER</button>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
      <hr>
    </div>
     
    <div id="donneesMembre" class="container-fluid" >   
      <div class="form-row">
          <div class="form-group col-md-1 offset-md-1">
            <h5 disabled> {{ form_row(formAjouterRecette.adherent.typeAdherent, {'label':"Type :"}) }}</h5>
            {#<label for="typeAdherentMembre"><h5>Type :</h5></label>
            <input type="text" class="form-control" id="typeAdherentMembre" placeholder="Membre" disabled>#}
          </div>    
          <div class="form-group col-md-1">
            <h5> {{ form_row(formAjouterRecette.adherent.fonctionAuCa, {'label':"CA :"}) }}</h5>
          </div>  
          <div class="form-group col-md-1 ">
            <h5> {{ form_row(formAjouterRecette.adherent.isSmith, {'label':"Smith :"}) }}</h5>
          </div>
          <div class="form-group col-md-1 "> 
            <h5> {{ form_row(formAjouterRecette.adherent.lienParente, {'label':"Parenté :"}) }}</h5>
          </div>
          <div class="form-group col-md-2 offset-md-1">
            <h5> {{ form_row(formAjouterRecette.adherent.smithLie.prenomSmith, {'label':"Prénom du Smith :"}) }}</h5>
          </div>
          <div class="form-group col-md-3">
            <h5> {{ form_row(formAjouterRecette.adherent.smithLie.dateNaissanceSmith, {'label':"Date de Naissance du Smith :"}) }}</h5>
          </div>
      </div> 

      <div class="form-row">
          <div class="form-group col-md-4 offset-md-1">
            <h5> {{ form_row(formAjouterRecette.adherent.observation , {'label':"Observation(s) liée(s) à l'Adhérent :", 'required':false}) }}</h5>
          </div>   
          <div class="form-group col-md-5 offset-md-1">
            <h5> {{ form_row(formAjouterRecette.adherent.smithLie.observationsSmith, {'label':"Observation(s) liée(s) au Smith :", 'required':false}) }}</h5>
          </div>   
      </div> 
      <hr><hr>

      <div class="form-row">
          <div class="form-group col-md-2 offset-md-1">
            <h5> {{ form_row(formAjouterRecette.adherent.nom, {'label':"Nom :"}) }}</h5>
          </div>
          <div class="form-group col-md-2">
            <h5> {{ form_row(formAjouterRecette.adherent.prenom, {'label':"Prénom :"}) }}</h5>
          </div>  
          <div class="form-group col-md-5 offset-md-1">
            <h5> {{ form_row(formAjouterRecette.descriptionRecette, {'label':"Description de la Recette :", 'required':false}) }}</h5>
          </div>    
      </div>

      <div class="form-row">
          <div class="form-group col-md-4 offset-md-1">
            <h5> {{ form_row(formAjouterRecette.adherent.coordonnees.ligneAdr1, {'label':"Première Ligne d'Adresse :"}) }}</h5>
          </div>
          <div class="form-group col-md-2 offset-md-1">
            <h5> {{ form_row(formAjouterRecette.datePaiementRecette, {'label':"Date de Paiement :", 'required':false}) }}</h5>
          </div>
          <div class="form-group col-md-2 offset-md-1">
            <h5> {{ form_row(formAjouterRecette.montantRecette, {'label':"Montant :", 'required':false}) }}</h5>
          </div>
      </div>

      <div class="form-row">
          <div class="form-group col-md-4 offset-md-1">
            <h5> {{ form_row(formAjouterRecette.adherent.coordonnees.ligneAdr2, {'label':"Deuxième Ligne d'Adresse :", 'required':false}) }}</h5>
          </div>
          <div class="form-group col-md-1 offset-md-1">
            <h5> {{ form_row(formAjouterRecette.modePaiement, {'label':"Payé par:", 'required':false}) }}</h5>
          </div>
          <div class="form-group col-md-3 offset-md-1">
              <h5> {{ form_row(formAjouterRecette.banque, {'label':"Nom de la Banque :", 'required':false}) }}</h5>
          </div>
      </div>

      <div class="form-row">
          <div class="form-group col-md-4 offset-md-1">
            <h5> {{ form_row(formAjouterRecette.adherent.coordonnees.ligneAdr3, {'label':"Troisième Ligne d'Adresse :", 'required':false}) }}</h5>
          </div>  
          <div class="form-group col-md-3 offset-md-1">
              <h5> {{ form_row(formAjouterRecette.numTitrePaiementRecette, {'label':"Numéro du Titre de Paiement :", 'required':false}) }}</h5>
          </div>
              
      </div>

      <div class="form-row">
          <div class="form-group col-md-1 offset-md-1">
            <h5> {{ form_row(formAjouterRecette.adherent.coordonnees.codePostal, {'label':"C.P. :"}) }}</h5>
          </div>
          <div class="form-group col-md-2">
            <h5> {{ form_row(formAjouterRecette.adherent.coordonnees.ville, {'label':"Ville :"}) }}</h5>
          </div>   
          <div class="form-group col-md-1">
            <h5> {{ form_row(formAjouterRecette.adherent.coordonnees.pays, {'label':"Pays :", 'required':false}) }}</h5>
          </div>
          <div class="form-group col-md-3 offset-md-1">
              <h5> {{ form_row(formAjouterRecette.numRemiseDeChequeRecette, {'label':"Numéro de la Remise de Chèque :", 'required':false}) }}</h5>
           </div>
      </div>

      <div class="form-row">
          <div class="form-group col-md-2 offset-md-1">
            <h5> {{ form_row(formAjouterRecette.adherent.coordonnees.telephone1, {'label':"Téléphone :", 'required':false}) }}</h5>
          </div>
          <div class="form-group col-md-2 ">
            <h5> {{ form_row(formAjouterRecette.adherent.coordonnees.telephone2, {'label':"Téléphone :", 'required':false}) }}</h5>
          </div>     
      </div>  

      <div class="form-row">
          <div class="form-group col-md-2 offset-md-1">
            <h5> {{ form_row(formAjouterRecette.adherent.coordonnees.email1, {'label':"Email :", 'required':false}) }}</h5>
          </div>
          <div class="form-group col-md-2">
            <h5> {{ form_row(formAjouterRecette.adherent.coordonnees.email2, {'label':"Email :", 'required':false}) }}</h5>
          </div>     

      </div>
      <div class="form-row">
          <div class="form-group col-md-1 offset-md-1">
            <button type="submit" class="btn-success" >ENREGISTRER</button>
          </div>
      <div>

    </div>       
    {{form_end(formAjouterRecette)}}
  </div>

{% endblock %}

