{# GestionASM17/templates/GestionASM17/AjouterMembre.html/twig#}

{% extends 'base.html.twig' %}
{% block title %}{{parent()}}-AjouterMembre{% endblock %}
{% block body %}
{% form_theme formAjouterMembre 'bootstrap_4_layout.html.twig' %}
<div>
    <div class="container-fluid">
      <div class="row">
        <table class="table table-borderless col-md-12">
          <tbody>
            <tr>
              <td style="padding-top:16px;">
                <h3>Ajouter un Membre</h3>
                <h6><i>Date de Création : {{"now"|date("d/m/Y")}}</i></h6>              
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr>
    </div>
  
    <!-- Création des onglets -->
    <ul class="nav nav-tabs">
      <li class="nav-item ">
        <a class="nav-link active" data-toggle="tab" href="#donneesMembre"><h5>Membre</h5></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="tab" href="#recette"><h5>Recette</h5></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="tab" href="#smith"><h5>Smith Associé </h5></a>
      </li>
    </ul>

    <!-- Création du contenu des onglets -->
    <div class="tab-content">
  {# Onglet Membre #}
      <div id="donneesMembre" class="container tab-pane active"><br>      
        {{ form_start(formAjouterMembre) }}
        <div class="form-row">
          <div class="form-group col-md-4">
            <h5> {{ form_row(formAjouterMembre.nomMembre, {'label':"Nom :"}) }}</h5>
          </div>
          <div class="form-group col-md-4 offset-md-2">
            <h5> {{ form_row(formAjouterMembre.prenomMembre, {'label':"Prénom :"}) }}</h5>
          </div>     
        </div>       
        <div class="form-row">
          <div class="form-group col-md-4">
            <h5> {{ form_row(formAjouterMembre.lienParente, {'label':"Parenté avec un Smith :"}) }}</h5>
          </div>
          <div class="form-group col-md-4 offset-md-2">
            <h5> {{ form_row(formAjouterMembre.fonctionCa, {'label':"Fonction au CA :"}) }}</h5>
          </div>          
        </div> 
        <div class="form-row">
          <div class="form-group col-md-10">
            <h5> {{ form_row(formAjouterMembre.observationsMembre, {'label':"Observation(s) :"}) }}</h5>
          </div>      
        </div>
        <div class="form-row">
          <div class="form-group col-md-10">
            <h5> {{ form_row(formAjouterMembre.coordonnees.ligneAdr1, {'label':"Première Ligne d'Adresse :"}) }}</h5>
          </div>      
        </div>
        <div class="form-row">
          <div class="form-group col-md-10">
            <h5> {{ form_row(formAjouterMembre.coordonnees.ligneAdr2, {'label':"Deuxième Ligne d'Adresse :"}) }}</h5>
          </div>      
        </div>
        <div class="form-row">
          <div class="form-group col-md-10">
            <h5> {{ form_row(formAjouterMembre.coordonnees.ligneAdr3, {'label':"Troisième Ligne d'Adresse :"}) }}</h5>
          </div>      
        </div>
        <div class="form-row">
          <div class="form-group col-md-1">
            <h5> {{ form_row(formAjouterMembre.coordonnees.codePostal, {'label':"C.P. :"}) }}</h5>
          </div>
          <div class="form-group col-md-4 offset-md-1">
            <h5> {{ form_row(formAjouterMembre.coordonnees.ville, {'label':"Ville :"}) }}</h5>
          </div>   
          <div class="form-group col-md-3 offset-md-1">
            <h5> {{ form_row(formAjouterMembre.coordonnees.pays, {'label':"Pays :"}) }}</h5>
          </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <h5> {{ form_row(formAjouterMembre.coordonnees.telephone1, {'label':"Téléphone :"}) }}</h5>
            </div>
            <div class="form-group col-md-4 offset-md-2">
              <h5> {{ form_row(formAjouterMembre.coordonnees.telephone2, {'label':"Téléphone :"}) }}</h5>
            </div>     
          </div>    
          <div class="form-row">
            <div class="form-group col-md-4">
              <h5> {{ form_row(formAjouterMembre.coordonnees.email1, {'label':"Email :"}) }}</h5>
            </div>
            <div class="form-group col-md-4 offset-md-2">
              <h5> {{ form_row(formAjouterMembre.coordonnees.email2, {'label':"Email :"}) }}</h5>
             
            </div>     
          </div>           
          {{form_end(formAjouterMembre)}}
        </div>      
       
        
    
  
  {# Onglet Recette  #}
  <div id="recette" class="container tab-pane active"><br>    
    {{ form_start(formAjouterRecette) }}  
    <div class="form-row">
        <div class="form-group col-md-10">
            <h5> {{ form_row(formAjouterRecette.datePaiementRecette, {'label':"Date de Paiement :"}) }}</h5>
        </div>
    </div>
    <div class="form-row ">
        <div class="form-group col-md-10">
            <h5> {{ form_row(formAjouterRecette.descriptionRecette, {'label':"description :"}) }}</h5>
        </div>     
    </div>
    <div class="form-row">
         <div class="form-group col-md-4">
            <h5> {{ form_row(formAjouterRecette.montantRecette, {'label':"Montant :"}) }}</h5>
        </div>
        <div class="form-group col-md-4 offset-md-2">
          <h5> {{ form_row(formAjouterRecette.modePaiement, {'label':"Mode de Paiement :"}) }}</h5>
       </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
             <h5> {{ form_row(formAjouterRecette.numTitrePaiementRecette, {'label':"Numéro du Titre de Paiement :"}) }}</h5>
         </div>
         <div class="form-group col-md-4 offset-md-2">
            <h5> {{ form_row(formAjouterRecette.numRemiseDeChequeRecette, {'label':"Numéro de la Remise de Chèque :"}) }}</h5>
         </div>
    </div>
    {{form_end(formAjouterRecette)}}
    </div>             
   
 

  {# Onglet Cotisation #}           
  
       <div id="smith" class="container tab-pane active"><br>      
        {{ form_start(formAjouterSmith) }}
        <div class="form-row">
          <div class="form-group col-md-4">
            <h5> {{ form_row(formAjouterSmith.prenomSmith, {'label':"Prénom :"}) }}</h5>
          </div>
        </div>
          <div class="form-row">
              <h5> {{ form_row(formAjouterSmith.dateNaissanceSmith, {'label':"Date de Naissance :"}) }}</h5>
          </div>

          <div class="form-group col-md-4 offset-md-2">
            <h5> {{ form_row(formAjouterSmith.dateNaissanceSmith, {'label':"Date de Naissance :"}) }}</h5>
          </div>     
        </div>       
        <div class="form-row">
          <div class="form-group col-md-9 offset-md-1">
            <h5> {{ form_row(formAjouterSmith.observationsSmith, {'label':"Observation(s) :"}) }}</h5>
            
          </div>
         
         
                
        </div> 
  
  
        {{form_end(formAjouterSmith)}}
  </div>
  </div>

              
{% endblock %}

