{# GestionASM17/templates/GestionASM17/AjouterMembre.html/twig#}

{% extends 'base.html.twig' %}
{% block title %}{{parent()}}-AjouterMembre{% endblock %}
{% block body %}
<!-- {% form_theme formAjouterMembre 'bootstrap_4_layout.html.twig' %} -->
<div>
    <div class="container-fluid">
      <div class="row">
        <table class="table table-borderless col-md-12">
          <tbody>
            <tr>
              <td style="padding-top:16px;">
                <h3>Ajouter un Membre</h3>
                <h6><i>Date de Création : {{"now"|date("d/m/Y")}}</i></h6>              
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr>
    </div>
  
    <!-- Création des 4 onglets -->
    <ul class="nav nav-tabs">
      <li class="nav-item ">
        <a class="nav-link active" data-toggle="tab" href="#DonneesMembre"><h5>Membre</h5></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="tab" href="#Coordonnees"><h5>Coordonnées</h5></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="tab" href="#Cotisation"><h5>Cotisation </h5></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="tab" href="#Don"><h5>Don </h5></a>
      </li>
    </ul>
    {{ form_start(formAjouterMembre) }}
    <!-- Création du contenu des onglets -->
    <div class="tab-content">
  {# Onglet Membre #}
      <div id="DonneesMembre" class="container tab-pane active"><br>      
        
        <div class="form-row">
            <div class="form-group col-md-4">
                <h5> {{ form_row(formAjouterMembre.nomMembre, {'label':"Nom :"}) }}</h5>
            </div>
            <div class="form-group col-md-4 offset-md-1">
                 <h5> {{ form_row(formAjouterMembre.prenomMembre, {'label':"Prénom :"}) }}</h5>
            </div>     
        </div>       
        <div class="form-row">
                <div class="form-group col-md-4">
                     <h5> {{ form_row(formAjouterMembre.lienParente, {'label':"Parenté avec un Smith :"}) }}</h5>
                </div>
                <div class="form-group col-md-4 offset-md-1">
                     <h5> {{ form_row(formAjouterMembre.fonctionCa, {'label':"Fonction au CA :"}) }}</h5>
                </div>          
                </div> 
        <div class="form-row">
            <div class="form-group col-md-9">
                <h5> {{ form_row(formAjouterMembre.observationsMembre, {'label':"Observation(s) :"}) }}</h5>
            </div>      
        </div>
     </div> 
  
  {# Onglet Coordonnées  #}
  <div id="Coordonnees" class="container tab-pane active"><br>      
    <div class="form-row">
        <div class="form-group col-md-8">
            <h5> {{ form_row(formAjouterMembre.coordonnees.ligneAdr1, {'label':"Première ligne d'adresse :"}) }}</h5>
        </div>
    </div>
    <div class="form-row ">
        <div class="form-group col-md-8">
            <h5> {{ form_row(formAjouterMembre.coordonnees.ligneAdr2, {'label':"Deuxième ligne d'adresse :"}) }}</h5>
        </div>     
    </div>
    <div class="form-row">
         <div class="form-group col-md-8">
            <h5> {{ form_row(formAjouterMembre.coordonnees.ligneAdr3, {'label':"Troisème ligne d'adresse :"}) }}</h5>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-1">
             <h5> {{ form_row(formAjouterMembre.coordonnees.codePostal, {'label':"CP :"}) }}</h5>
         </div>
         <div class="form-group col-md-4">
            <h5> {{ form_row(formAjouterMembre.coordonnees.ville, {'label':"Ville :"}) }}</h5>
         </div>
         <div class="form-group col-md-3">
            <h5> {{ form_row(formAjouterMembre.coordonnees.pays, {'label':"Pays :"}) }}</h5>
         </div>
    </div>
    <div class="form-row">
            <div class="form-group col-md-4">
                 <h5> {{ form_row(formAjouterMembre.coordonnees.email1, {'label':"EMail 1 :"}) }}</h5>
             </div>
             <div class="form-group col-md-4">
                <h5> {{ form_row(formAjouterMembre.coordonnees.email2, {'label':"EMail 2 :"}) }}</h5>
             </div>
        </div>
        <div class="form-row">
                <div class="form-group col-md-4">
                     <h5> {{ form_row(formAjouterMembre.coordonnees.telephone1, {'label':"Tel. 1 :"}) }}</h5>
                 </div>
                 <div class="form-group col-md-4">
                    <h5> {{ form_row(formAjouterMembre.coordonnees.telephone2, {'label':"Tel. 2 :"}) }}</h5>
                 </div>
            </div>
    </div>             
   
 </div> 
 

  {# Onglet Cotisation #}           
  
     {#} <div id="Cotisation" class="container tab-pane fade"><br>    
        {% for recette in recettes %} 
        {% if recette.exerciceComptableRecette == exComptableEnCours.exerciceEnCours %}
        <form>
          {# <div class="row">
            <h5> ANNEE : {{recette.exerciceComptableRecette}}</h5>
          </div> #}
          {#<div class="form-row">
            <div class="form-group col-md-3">
              <label for="typeRecetteDetailMembre"><h6>Type :</h6> </label>
              <input type="text" class="form-control" id="typeRecetteDetailMembre" placeholder="{{recette.typeRecette.typeDeRecette}}" disabled>
            </div>
            <div class="form-group col-md-3 offset-md-1">
              <label for="dteRecetteDetailMembre"><h6>Date:</h6></label>
              <input type="text" class="form-control" id="dteRecetteDetailMembre" placeholder="{{recette.datePaiementRecette|date('d/m/Y')}}" disabled>
            </div>
            <div class="form-group col-md-3 offset-md-1">
              <label for="montantRecetteDetailMembre"><h6>Montant :</h6></label>
              <input type="text" class="form-control" id="montantRecetteDetailMembre" placeholder="{{recette.montantRecette}} €" disabled>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-12">
            <label for="observationSmithDetailMembre"><h6>Description : </h6></label>
            <textarea rows="5" class="form-control" id="observationSmithDetailMembre" placeholder="{{recette.descriptionRecette}}" disabled></textarea>
            </div>
          </div>
        </form>
        <hr>
        {% endif %}
        {% endfor %}
      </div>
  
  {# Onglet Don #}
     {#} <div id="Don" class="container tab-pane fade"><br>    
        {% for recette in recettes %} 
        {% if recette.exerciceComptableRecette != exComptableEnCours.exerciceEnCours %}
        <form>
          <div class="row">
            <h5> ANNEE : {{recette.exerciceComptableRecette}}</h5>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="typeRecetteDetailMembre"><h6>Type :</h6> </label>
              <input type="text" class="form-control" id="typeRecetteDetailMembre" placeholder="{{recette.typeRecette.typeDeRecette}}" disabled>
            </div>
            <div class="form-group col-md-3 offset-md-1">
              <label for="dteRecetteDetailMembre"><h6>Date:</h6></label>
              <input type="text" class="form-control" id="dteRecetteDetailMembre" placeholder="{{recette.datePaiementRecette|date('d/m/Y')}}" disabled>
            </div>
            <div class="form-group col-md-3 offset-md-1">
              <label for="montantRecetteDetailMembre"><h6>Montant :</h6></label>
              <input type="text" class="form-control" id="montantRecetteDetailMembre" placeholder="{{recette.montantRecette}} €" disabled>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-12">
            <label for="observationSmithDetailMembre"><h6>Description : </h6></label>
            <textarea rows="5" class="form-control" id="observationSmithDetailMembre" placeholder="{{recette.descriptionRecette}}" disabled></textarea>
            </div>
          </div>
        </form>
        <hr>
        {% endif %}
        {% endfor %}
      </div> #}
      {{ form_end(formAjouterMembre) }}
  </div>

              
{% endblock %}

