{# GestionASM17/templates/GestionASM17/donateurs.html/twig#}

{% extends 'base.html.twig' %}
{% block title %}{{parent()}}-Donateurs{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-3">Les Membres de l'ASM17</h1>
    <div class="row">
    {% for donateur in listeDonateurEtAdresse %}
        {% set twig_url = path('detail_donateurs',{'id':donateur.id}) %} 
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        {{ donateur.prenom }} <strong>{{ donateur.nom | upper }}</strong>
                        <br>
                        {% if donateur.actif %}
                              <td align="center">
                                <button type="button" class="btn-lg btn-success">
                                  {#{% if donateur.is_smith %}
                                    Smith
                                  {% endif %}#}
                                </button>
                              </td>
                              {% else %}
                              <td align="center">
                                <button type="button" class="btn-lg btn-danger">
                                  {% if donateur.is_smith %}
                                    Smith
                                  {% endif %}
                                </button>
                              </td>
                            {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> 
                          {% if donateur.ligne_adr3 is not empty %}
                            {{ donateur.ligne_adr3 }} <br>
                          {% endif %}
                            {{ donateur.code_postal }} {{donateur.ville}}
                        </h5>
                        
                        <p class="card-text"> 
                          {% if donateur.email1 is not empty %}
                           <p> {{ donateur.email1 }}</p>
                          {% else %}
                           <p> Aucune adresse mail renseignée</p>
                          {% endif %}
                        </p>

                        <a href="{{ twig_url }}" class="btn btn-primary">Détails</a>
                    </div>
                </div>
            </div>
    {% endfor %}
    </div>
  </div>

{% endblock %}

