{# GestionASM17/templates/GestionASM17/membres.html/twig#}

{% extends 'base.html.twig' %}
{% block title %}{{parent()}}-Membres{% endblock %}

{% block body %}
<div class="container">
  <div>
    <h1 class="my-3">Les Membres de l'ASM17</h1>
  </div>
    <div class="row">
    {% for membre in listeMembreEtAdresse %}
        {% set twig_url = path('detail_membres', { 'id':membre.id }) %} 
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        <h5><em>{{ membre.prenom }} </em></h5>
                        <h4><strong>{{ membre.nom | upper }}</strong></h4>
                        
                        {% if membre.actif %}
                              <td align="center">
                                <button type="button" class="btn-lg btn-success">
                                  {% if membre.is_smith %}
                                    Smith
                                  {% endif %}
                                </button>
                              </td>
                              {% else %}
                              <td align="center">
                                <button type="button" class="btn-lg btn-danger">
                                  {% if membre.is_smith %}
                                    Smith
                                  {% endif %}
                                </button>
                              </td>
                            {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> 
                          {% if membre.ligne_adr3 is not empty %}
                            {{ membre.ligne_adr3 }} <br>
                          {% endif %}
                            {{ membre.code_postal }} {{membre.ville}}
                        </h5>
                        
                        <p class="card-text"> 
                          {% if membre.email1 is not empty %}
                           <p> {{ membre.email1 }}</p>
                          {% else %}
                           <p> Aucune adresse mail renseignée</p>
                          {% endif %}
                        </p>

                        <a href="{{ twig_url }}" class="btn btn-primary">Détails</a>
                    </div>
                </div>
            </div>
    {% endfor %}
   </div>
   </div>

{% endblock %}

