{# GestionASM17/templates/GestionASM17/membres.html/twig#}

{% extends 'base.html.twig' %}
{% block title %}{{parent()}}-Membres{% endblock %}
{% block body %}
            <div>
              <h3>Liste des Membres :</h3>
              <br>
            <div>
        {# Affichage du tableau des Membres #}
              <div class="row">
                  <div class="col-sm-9 col-lg-9 col-xl-9 offset-sm-1 offset-lg-1 offset-xl-1">
                    <table class="table table-bordered table-hover table-responsive">
                      <tbody>
                        <thead class="thead-dark">
                          <tr >
                            <th style="text-align:center;">COTISATION</th>
                            <th style="text-align:center;">NOM</th>
                            <th style="text-align:center;">PRENOM</th>
                            <th style="text-align:center;">ADRESSE</th>
                            <th style="text-align:center;">CP</th>
                            <th style="text-align:center;">VILLE</th>
                            <th style="text-align:center;">MAIL</th>  
                            {# <th style="text-align:center;">DATE</th> #}
                          </tr>
                        </thead>
                        {% for membre in ListeMembresEtAdresses %}
                          <tr>
                            {% if membre.coti_ok %}
                              <td align="center">
                                <button type="button" class="btn-lg btn-success"></button>
                              </td>
                              {% else %}
                              <td align="center">
                                <button type="button" class="btn-lg btn-danger"></button>
                              </td>
                            {% endif %}
                            <td style="vertical-align:middle;"><a href={{url('detail_membres',{'id':membre.id})}}>{{membre.nom_membre|upper}}</a></td>
                            <td style="vertical-align:middle;">{{membre.prenom_membre}}</td>
                            <td style="text-align:center;vertical-align:middle;">{{membre.ligne_adr2}} {{membre.ligne_adr3}}</td>
                            <td style="text-align:center;vertical-align:middle;">{{membre.code_postal}}</td>
                            <td style="vertical-align:middle;">{{membre.ville}}</td>
                            <td style="vertical-align:middle;">{{membre.email1}}</td>
                            
                            {# <td style="text-align:center;">{{CotiEnCours}}</td> #}
                          </tr>
                        {% endfor %}
                      </tbody>      
                    </table>
                  </div>
                </div>
              
            
              
{% endblock %}

