{# GestionASM17/templates/GestionASM17/membres.html/twig#}

{% extends 'base.html.twig' %}
{% block title %}{{parent()}}-Membres{% endblock %}
{% block body %}
            <div>
              <h3>Liste des Membres :</h3>
              <br>
            <div>
        {# Affichage du tableau des Membres #}
            <div class="container-fluid">
              <div class="row">
                  <div class="col-sm-12 col-lg-12 ">
                    <table class="table table-bordered table-hover table-responsive">
                      <tbody>
                        <thead class="thead-dark">
                          <tr >
                            <th style="text-align:center;">COTISATION</th>
                            <th style="text-align:center;">NOM</th>
                            <th style="text-align:center;">PRENOM</th>
                            <th style="text-align:center;">ADRESSE</th>
                            <th style="text-align:center;">CP</th>
                            <th style="text-align:center;">VILLE</th>
                            <th style="text-align:center;">MAIL</th>  
                            <th style="text-align:center;">CREE LE</th>
                            <th style="text-align:center;">MODIFIE LE</th>
                          </tr>
                        </thead>
                        {% for membre in listeMembreEtAdresse %}
                          <tr>
                            {% if membre.actif %}
                              <td align="center">
                                <button type="button" class="btn-lg btn-success"></button>
                              </td>
                              {% else %}
                              <td align="center">
                                <button type="button" class="btn-lg btn-danger"></button>
                              </td>
                            {% endif %}
                            <td style="vertical-align:middle;"><a href={{url('detail_membres',{'id':membre.id})}}>{{membre.nom|upper}}</a></td>
                            <td style="vertical-align:middle;">{{membre.prenom}}</td>
                            <td style="text-align:center;vertical-align:middle;">{{membre.ligne_adr2}}<br> {{membre.ligne_adr3}}</td>
                            <td style="text-align:center;vertical-align:middle;">{{membre.code_postal}}</td>
                            <td style="vertical-align:middle;">{{membre.ville}}</td>
                            <td style="vertical-align:middle;">{{membre.email1}}</td>
                            <td style="vertical-align:middle;">{{membre.date_creation|date("d/m/Y")}}</td>
                            <td style="vertical-align:middle;">{{membre.date_modification|date("d/m/Y")}}</td>
                            
                            {# <td style="text-align:center;">{{CotiEnCours}}</td> #}
                          </tr>
                        {% endfor %}
                      </tbody>      
                    </table>
                  </div>
                </div>
              </div>
              
            
              
{% endblock %}

