{# GestionASM17/templates/GestionASM17/modifExoComptable.html.twig#}

{% extends 'base.html.twig' %}
{% block title %}{{parent()}}-ModifExCpt{% endblock %}
{% block body %}

{% form_theme formChangeExCompt 'bootstrap_4_layout.html.twig' %}

<h3>Changement de l'Exercice Comptable :</h3>
<br>
  <div class="form-group row">
    <div class="col-sm-6 offset-sm-2">
      <h5>Exercice Comptable Actuel :</h5>
      <input type="text" class="form-control" id="AncienExComptable" placeholder="{{exComptableEnCours.exerciceEnCours}}" disabled>
     <br>

      {{ form_start(formChangeExCompt) }}
      <h5> 
      {{ form_row(formChangeExCompt.exerciceEnCours, {
          'label':"Nouvel Exercice Comptable"
        }) }}
      </h5>
      {{ form_end(formChangeExCompt) }}
      {% for message in app.session.flashbag.get('note') %}
      <h5>{{message}}</h5> 
      {% endfor %}
    </div>
  </div>
            
{% endblock %}

