 <header >
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" href="{{ path('accueil') }}">{#Gestion#} ASM17</a>
        <img src="{{ asset('images/logoballon.png') }}" alt="Logo ASM17"/>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{{ path('accueil') }}">ACCUEIL</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="{{path('membres')}}">MEMBRES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{path('donateurs')}}">DONATEURS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{path('professionnels')}}">PROFESSIONNELS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{path('depenses')}}">DEPENSES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{path('recettes')}}">RECETTES</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">TRESORIER</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <a class="dropdown-item" href="{{path('changer_ExerciceComptable')}}">Changer Exercice Comptable</a>
                  <a class="dropdown-item" href="{{path('ajouter_banque')}}">Ajouter une Banque</a>
                  <a class="dropdown-item" href="{{path('ajouter_nouveauMembre')}}">Ajouter Membre</a>
                  <a class="dropdown-item" href="#">Ajouter Professionnel</a>
                  <a class="dropdown-item" href="{{path('ajouter_depense')}}">Enregistrer Une Dépense</a>
                  <a class="dropdown-item" href="{{path('liste_depenses_a_rapprocher')}}">Rapprocher Une Dépense</a>
                  <a class="dropdown-item" href="{{path('ajouter_recette')}}">Enregistrer Une Recette</a>
                  <a class="dropdown-item" href="{{path('liste_recettes_a_rapprocher')}}">Rapprocher Une Recette</a>
                </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">QUITTER <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Rechercher">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
          </form>
        </div>
      </nav>
    </header>